.main-box-cus{
margin-top: 135px;
margin-bottom: 90px;
}

.footer{
 background-color: #101010;
 padding: 10px 0;
 text-align: center;
 position:absolute;
 color:#9d9d9d;
 bottom: 0; 
 width: 100%;
 font-size:14px;
}

 footer{
 padding: 10px 0; 
 background-color: #101010;
 color:#9d9d9d;
 bottom: 0;
 width: 100%;
}

html { 
    min-height:100%;
    position:relative;    
} 