.main-box-cus{
margin-top: 110px;}

.footer{
 background-color: #101010;
 padding: 10px 0;
 text-align: center;
 position: absolute; 
 color:#9d9d9d;
 bottom: 0; 
 width: 100%;
 font-size:14px;
}

.jumbotron{
    margin-top: 90px;
    color:#AB1970;
    background-color: rgba(192, 242, 249, 0.801);
}