.main-box-cus{
margin-top: 110px;
margin-bottom: 70px;
}

footer{
    background-color:#101010;
    color:#9d9d9d;
    font-size:14px;
    font-weight:bold;
    padding:10px;    
    bottom:0;
}

.footer { 
    position: absolute; 
    bottom:0; 
    right:0;
    left:0;
}

html { 
    min-height:100%;
    position:relative;    
} 
