.main-box-cus{
margin-top: 90px;
background-color: #424242;
/*padding-bottom: 50px;    */
}

footer{
    background-color:#101010;
    color:#9d9d9d;
    font-size:14px;
    font-weight:bold;
    padding:10px;    
    bottom:0;
}

/*
.footer{
 background-color: #101010;
 padding: 10px 0; 
 text-align: center;
 position: absolute; 
 color:#9d9d9d;
 bottom: 0; 
 width: 100%;
 font-size:14px;
 padding-top: 20px;
}*/

.footer { 
    position: absolute; 
    bottom:0; 
    right:0;
    left:0;
}
.container{
    width:90%; 
    margin:auto; 
    overflow:hidden;
    
}

.headtext{
    color: whitesmoke;
}

/*@media (min-width: 641px) {
    .footer {
        position: absolute;
        bottom: 0;
    }
}
*/
